/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Helper Classes
  #Media Queries
  #Font-Face */


/*Colors*/
/*
 #061f40
#1b72bf
#2a5e8c
#2393d9
#404040
#3ab851
*/

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);


/* #Site Styles
================================================== */
*, *:before, *:after {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; box-sizing: border-box;
}

ul,
li,
ol {
  margin: 0;
  padding:0;
  list-style-type: none;
}

a {
  color: #1b72bf;
  text-decoration: none;
}

html {
  line-height: 1;
}

body  {
 font-family: 'Open Sans', sans-serif;
}

h1 {
   font-weight: 400;
}

p {
  font-weight: 400;
}

button {
  margin: 0 .45em;
  padding: .45em 1em;
  border: 2px solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  color: rgba(0,0,0,0.7);
  text-align: center;
  font-weight: 500;
}

button.cta {
  border-color: #3ab851;
}

button.cta:hover, button.cta:focus, button.cta:active {
  outline: 0;
  border-color: #319944;
}

button.default {
  border-color: #1b72bf;
}

button.default:hover, button.default:focus, button.default:active {
  outline: 0;
  border-color: #155B99;
}

button.inverse {
  border-color: #fff;
  color: #fff;
}

button.inverse:hover, button.inverse:focus, button.inverse:active {
  outline: 0;
  border-color: #ededed;
  color: #ededed;
}

button.link {
  padding: 0;
  border: none;
}

button.link:hover, button.link:focus, button.link:active {
  outline: 0;
  color: #2393d9;
}

button.link-inverse {
  padding: 0;
  border: none;
  color: #fff;
}

button.link-inverse:hover, button.link-inverse:focus, button.link-inverse:active {
  outline: 0;
  color: #ededed;
}

button.full-width {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

button.big {
  border-width: 4px;
  font-size: 1.5em;
}

input {
  padding: .45em 1em;
  border: 2px solid #000;
  border-radius: 3px;
}

input:focus {
  outline: 0;
}

fieldset {
  border: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  border-bottom: 5px solid #2a5e8c;
  background-color: rgba(27,114,191,1);
  line-height: 70px;
}

.navbar h1,
nav {
  display: inline-block;
}

.navbar {
  z-index: 9999;
}

.navbar h1 {
  z-index: 9999;
  margin: 0;
  color: #fff;
}

nav {
  float: right;
}

.mobile-menu {
  position: absolute;
  z-index: 10;
  display: none;
  margin-top: -8px;
  padding: 0 15px;
  width: 100%;
  background-color: rgba(27,114,191,1);
}

.mobile-menu-trigger {
  display: none;
}

main {
  margin-top: 70px;
}

figure img {
  margin-bottom: 2em;
}
.visible {
  display: block;
}

button.full-width {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

input {
  padding: .4em 1em;
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 3px;
}

fieldset {
  border: 0;
}

footer {
  height: 10em;
}

footer nav, footer p {
  margin: 0 auto;
}

.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}


/* #Page Styles
================================================== */

/* Home Page Styles ================================================== */
.hero {
  width: 100%;
  height: 77vh;
  background: -webkit-linear-gradient(-225deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background: -moz-linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background: linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  margin: 0;
  padding-top: 3em;
  padding-right: 1em;
  padding-left: 1em;
  color: #fff;
  text-align: center;
  font-size: 3em;
}

.hero h1 span {
  text-decoration: underline;
}

.hero-form {
  text-align: center;
  margin-top: 3em;
}

.hero-input {
  border-color: #fff;
  background-color: rgba(0,0,0,0);
  color: white;
}

.hero-button {
  display: inline-block;
}

.hero-input::-webkit-input-placeholder {
    color: #f6f6f6;
}
.hero-input:-moz-placeholder {
    /* FF 4-18 */
    color: #f6f6f6;
}
.hero-input::-moz-placeholder {
    /* FF 19+ */
    color: #f6f6f6;
}
.hero-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f6f6f6;
}

.how-it-works {
  margin-top: 6em;
  text-align: center;
}

.how-it-works h1 {
  margin: 1.5em;
}

.step-1, .step-2, .step-3 {
  color: #1b72bf;
  font-size: 6em;
}
.how-it-works figcaption {
  padding: 1.5em;
}

.featured-expeditions {
  margin-top: 6em;
  text-align: center;
}

/*Not sure why but the padding: 5px on this was forcing the the last
 * featured item to drop down when viewing on the hosted version, but not in local viewing??
 * Seems likely I have CSS somewhere that messed this up? - Chris
 * */
.featured {
  margin-top: 3em;
/*padding: 5px;*/
  height: 200px;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 3px #000;
  line-height: 2.3em;
}

.featured h1 {
  padding-top: 1em;
}

.featured:hover {
  opacity: 0.9;
}

.featured-1 {
  background-image: url('../img/beer-color-hdpi.jpg');
}

.featured-2 {
  background-image: url('../img/bike-tour.jpg');
}

.featured-3 {
  background-image: url('../img/space-needle.jpg');
}

.call-to-action {
  margin: 6em;
  text-align: center;
}

.toExpoPage {
  margin: 2em;
  text-align: center;
}

footer {
  text-align: center;
}

.copyright {
  padding-top: 3em;
}

/* #Expedition Page Styles
================================================== */
/*Since main HEADER is fix, with height of 70px, I'm pushing the MAIN content down: ;*/

.expoHeader {
  margin-top: 70px;
  padding-top: 80px;
}

.expo-main {
 margin-top: 20px;

}


/*Setting these <a> as display inline-block allows us to adjust padding and margin on all sides.  - Adding width 100% will allow it to fill its parent container, the <li>
 * See expo-anchors-before and after images in screenshots folder
 * */

.expo-title  h1{
margin-bottom: 0;
text-shadow: 0 0 3px #000;
text-align: center;
}

.expo-title {
  background: url('../img/beer-color-hdpi.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.expo-list > h1 {
 text-align: center;
  margin: .3em 0 .3em;
}

.expo-list a {
  display: inline-block;
  width: 100%;
  color: #fff;
}

.expo-title ul{
background: #155b99;
  text-align: center;

   font-size: 1em;
  line-height: 2.5;
}

.expo-bio  {
 background: rgba(0, 0, 0, 0.65);
  color: #fff;
}

.expo-bio p {
  margin-bottom: 0;
  padding:  .5em;
  text-align: left;
  letter-spacing: .0275em;
  font-weight: 200;
  font-size: .9em;
  line-height: 1.4;
}

.expo-info li{
 display: inline-block;
padding: 0 2px;
}

.expo-info span {
  display: inline-block;
margin: 0 0 0 4px;
}

.expo-info span.icon-star {
margin: 0;
padding: 0;
}

.expo-info li:last-child {
}

/*This is to target the <p> before the button*/
.expo-list p:last-child:last-of-type{
margin-top: 1.5em;
text-align: center;
}

.expo-list button {
margin: 1.5em;
}

.expoHeader {
  width: 100%;
}


/* Filter Options*/

.expo-tour div {
  margin: .5em 0;
}

/* Sort Options*/


legend {
  word-wrap: normal;
  font-size: 1.3em;
}

.expo-main {
  padding-top: 1em;
}

.sort-wrap {
padding-top: 1em;
  width: 100%;
    text-align: center;
}

.sort{
margin: .5em 0;
width: 100%
}

label {
  display: none;
}

select {
  width: 100%;
  border: 1px #2a5e8c solid;
/*  background: #319944;*/
/*  color: #fff;*/
  font-size: 1.3em;
/*  -webkit-appearance: none;*/
}


/* Expedition Details Page
==================================================== */

.detailsHeader {
  padding-top: 10px;
  width: 100%;
  height: 175px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('../img/expo-details-skateboard.jpg');
  background-color: grey;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.filter {
  height: 50px;
  background-color: #1b72bf;
  color: white;
  text-align: center;
  line-height: 50px;
}

.filter li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
}

.pul {
  text-align: center;
}

.poiList .pul {
  padding-bottom: 30px;
  border-bottom: 2px solid #2a5e8c;
}

.poiList .pul:last-child {
  padding-bottom: 30px;
  border-bottom: none;
}

.pul img {
  width: 100%;
}

.descList {
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  color: #2a5e8c;
}

.descList li {
  display: inline;
  padding: 0 3px;
  line-height: 30px;
}

.kings {
  width: 100%;
  min-height: 200px;
  background:
    url('../img/beer-color-hdpi.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

/* ==========================================================================
   Helper classes from h5bp.com/u
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

/* Expeditions Page
========================================== */

/*
.expedition {
  margin-top: 70px;
}

.expMain li {
  list-style: none;
}


input[name="panel"] {
  display: none;
}

label {
  display: block;
  padding: 0.8em;
  width: 100%;
  height: 1em;
}

.collapsible {
  display: block;
  padding: 0 1em;
  width: 100%;
}

input[name='panel'] + .collapsible {
  overflow: hidden;
  height: 0;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

input[name='panel']:checked + .collapsible {
  overflow: auto;
  height: 8em;  needs a numeric value here to keep transition
}
*/


/* #Media Queries
================================================== */

  /* Larger than standard 960 (devices and browsers) */
  @media only screen and (min-width: 960px) {
    .hero h1 {
      font-size: 2.3em;
    }

    .detailsHeader {
      padding-top: 100px;
      height: 350px;
    }

    .detailsHeader h1 {
      font-size: 3em;
    }

    .descList {
      margin-top: 20px;
      border-right: 1px solid #f0f0f0;
    }

    .descList li {
      display: block;
      padding: 5px 0;
      text-align: left;
      font-size: 1.3em;
    }

    .filter li {
      padding-right: 25px;
      padding-left: 25px;
      font-size: 1.3em;
    }

    .pul p {
      padding-top: 20px;
      text-align: left;
      font-size: 1.3em;
    }

    .filter {
      margin-bottom: 30px;
    }

    legend {
      word-wrap: normal;
      font-size: 2em;
    }

    .sort {
      display: inline-block;
      padding: 1em .3em;
     width: 23%;
    }

    .sort:first-of-type {
      margin-left: -.3em;
    }

    select {
        font-size: 1.6em;
    }

    .expo-title h1 {
      height: 4em;
      line-height: 4;
      font-size: 3em;
/*      background: rgba(0, 0, 0, 0.75);*/
    }

    .expo-bio p {

      height: 4em;
   /*     float: left;
height: 21.3em;
      position: absolute;
      top: 0;
      left: 0;
      width: 33%;

      background: #fff;
      color: #222;
   */
    }
    .expo-tour div {
  margin-bottom: 2em;
}

    .map img {
      width: 75%;
    }

    .hero-input {
      width: 50vw;
    }


  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .hero h1 {
      font-size: 2.3em;
    }

    .detailsHeader {
      padding-top: 100px;
      height: 350px;
    }

    .detailsHeader h1 {
      font-size: 3em;
    }

    .descList {
      margin-top: 20px;
      border-right: 1px solid #f0f0f0;
    }

    .descList li {
      display: block;
      padding: 5px 0;
      text-align: left;
      font-size: 1.3em;
    }

    .filter li {
      padding-right: 25px;
      padding-left: 25px;
      font-size: 1.3em;
    }

    .pul p {
      padding-top: 20px;
      text-align: left;
      font-size: 1.3em;
    }


    .map img {
      width: 75%;
    }

    .hero-input {
      width: 60vw;
    }

  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    nav {
      display: none;
    }

    .mobile-menu-trigger {
      display: inline-block;
      float: right;
      color: white;
      font-size: 2em;
      line-height: 70px;
    }

    .hero {
      height: 20em;
    }

    .call-to-action {
      margin: 3em;
      font-size: 0.7em;
    }

    .call-to-action button {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .hero h1 {
      font-size: 1.8em;
    }

    .hero-input {
      width: 60vw;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .hero h1 {
      font-size: 1.5em;
    }
  }


/* #Font-Face
================================================== */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?jzx8xy');
  src:url('../fonts/icomoon.eot?#iefixjzx8xy') format('embedded-opentype'),
    url('../fonts/icomoon.woff?jzx8xy') format('woff'),
    url('../fonts/icomoon.ttf?jzx8xy') format('truetype'),
    url('../fonts/icomoon.svg?jzx8xy#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e609";
}
.icon-globe:before {
  content: "\e600";
}
.icon-zoom:before {
  content: "\e601";
}
.icon-location-outline:before {
  content: "\e602";
}
.icon-map:before {
  content: "\e603";
}
.icon-globe-outline:before {
  content: "\e604";
}
.icon-directions:before {
  content: "\e605";
}
.icon-thumbs-up:before {
  content: "\e606";
}
.icon-books:before {
  content: "\e60a";
}
.icon-tag:before {
  content: "\e60b";
}
.icon-clock:before {
  content: "\e60c";
}
.icon-binoculars:before {
  content: "\e607";
}
.icon-star:before {
  content: "\e60d";
}
.icon-happy:before {
  content: "\e608";
}

.icon-th-menu:before {
  content: "\e609";
}
