/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Helper Classes
  #Media Queries
  #Font-Face */


/*Colors*/
/*
 #061f40
#1b72bf
#2a5e8c
#2393d9
#404040
#3ab851
*/

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);



/* #Site Styles
================================================== */
*, *:before, *:after {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; box-sizing: border-box;
}

ul,
li,
ol {
  margin: 0;
  padding:0;
  list-style-type: none;
}

a {
  color: #1b72bf;
  text-decoration: none;
}

html {
  line-height: 1;
}

body  {
 font-family: 'Open Sans', sans-serif;
}

h1 {
   font-weight: 400;
}

p {
  font-weight: 400;
}

button {
  padding: .45em 1em;
  margin: 0 .45em;
  border: 2px solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  color: rgba(0,0,0,0.7);
  text-align: center;
  font-weight: 500;
}

button.cta {
  border-color: #3ab851;
}

button.cta:hover, button.cta:focus, button.cta:active {
  border-color: #319944;
  outline: 0;
}

button.default {
  border-color: #1b72bf;
}

button.default:hover, button.default:focus, button.default:active {
  border-color: #155B99;
  outline: 0;
}

button.inverse {
  border-color: #fff;
  color: #fff;
}

button.inverse:hover, button.inverse:focus, button.inverse:active {
  border-color: #ededed;
  color: #ededed;
  outline: 0;
}

button.link {
  border: none;
  padding: 0;
}

button.link:hover, button.link:focus, button.link:active {
  color: #2393d9;
  outline: 0;
}

button.link-inverse {
  border: none;
  color: #fff;
  padding: 0;
}

button.link-inverse:hover, button.link-inverse:focus, button.link-inverse:active {
  color: #ededed;
  outline: 0;
}

button.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

button.big {
  border-width: 4px;
  font-size: 1.5em;
}

input {
  padding: .45em 1em;
  border-radius: 3px;
  border: 2px solid #000;
}

input:focus {
  outline: 0;
}

fieldset {
  border: 0;
}

header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  background-color: rgba(27,114,191,1);
  border-bottom: 5px solid #2a5e8c;
  z-index: 1;
}

.navbar h1, nav {
  display: inline-block;
}

.navbar {
  z-index: 9999;

}

.navbar h1 {
  color: #fff;
  margin: 0;
  z-index: 9999;
}

nav {
  float: right;

}

.mobile-menu {
  display: none;
  background-color: rgba(27,114,191,1);
  width: 100%;
  margin-top: -8px;
  padding: 0 15px;
  z-index: 0;
  position: absolute;
}

.mobile-menu-trigger {
  display: none;
}

main {
  margin-top: 70px;
}

figure img {
  margin-bottom: 2em;
}

.visible {
  display: block;

}

.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}


/* #Page Styles
================================================== */

/* Home Page Styles ================================================== */
.hero {
  width: 100%;
  height: 77vh;
  background: -webkit-linear-gradient(-225deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background: -moz-linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background: linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/hero-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero h1 {
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.hero h1 span {
  text-decoration: underline;
}

.hero-form {
  margin: 4em auto;
  width: 65vw;
}

.hero-input {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  color: white;
  width: calc(100% - 142px);
}

.hero-button {
  display: inline-block;
}

.hero-input::-webkit-input-placeholder {
    color: #f6f6f6;
}
.hero-input:-moz-placeholder {
    /* FF 4-18 */
    color: #f6f6f6;
}
.hero-input::-moz-placeholder {
    /* FF 19+ */
    color: #f6f6f6;
}
.hero-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f6f6f6;
}

.how-it-works {
  margin-top: 6em;
  text-align: center;
}

.how-it-works h1 {
  margin: 1.5em;
}

.step-1, .step-2, .step-3 {
  font-size: 6em;
  color: #1b72bf;
}

.how-it-works figcaption {
  padding: 1.5em;
}

.featured-expeditions {
  margin-top: 6em;
  text-align: center;

}

.featured {
  margin-top: 3em;
  background-size: cover;
  text-shadow: 0 0 3px #000;
  color: #fff;
  padding: 5px;
  height: 200px;
  line-height: 2.3em;
}

.featured h1 {
  padding-top: 1em;
}

.featured:hover {
  opacity: 0.9;
}

.featured-1 {
  background-image: url('../img/beer-tour.jpg');
}

.featured-2 {
  background-image: url('../img/bike-tour.jpg');
}

.featured-3 {
  background-image: url('../img/space-needle.jpg');
}

.call-to-action {
  margin: 6em;
  text-align: center;
}

footer {
  text-align: center;
}

.copyright {
  padding-top: 3em;
}

/* #Expedition Page Styles
================================================== */
/*Since main HEADER is fix, with height of 70px, I'm pushing the MAIN content down: ;*/


main.expo-main {
 margin-top: 70px;
}

/*Setting these <a> as display inline-block allows us to adjust padding and margin on all sides.  - Adding width 100% will allow it to fill its parent container, the <li>
 * See expo-anchors-before and after images in screenshots folder
 * */
.expo-main article {

margin-bottom: .8em;
}

.expo-title  h1{
margin-bottom: 0;
  text-align: center;

}

.expo-list a {
  display: inline-block;
  width: 100%;
  color: #fff;
}

.expo-title {
  background: -webkit-linear-gradient(-225deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/beer-tour.jpg');
  background: -moz-linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/beer-tour.jpg');
  background: linear-gradient(315deg, rgba(27,114,191,0.75) 0, rgba(58,184,81,0.78) 100%), url('../img/beer-tour.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.expo-bio  {
  color: #fff;
 background: rgba(0, 0, 0, 0.75);
margin: 0;
padding: 0;

}

.expo-bio p {
  font-weight: 300;
  font-size: .9em;
  line-height: 1.4;
  text-align: left;
  padding:  .5em;
  margin-bottom: 0;
  letter-spacing: .0275em;
}


.expo-title ul{
   font-size: .8em;
background: #155b99;
  line-height: 1.8;
   font-weight: 100;

}
.expo-info li{

 display: inline-block;
  padding:  0 .5em;


}

.expo-info li:last-child {
  margin-right: 0;
}

.expo-info span {

  font-size: 1em;
}

.expo-list p:last-child:last-of-type{
  margin-top: 1.5em;
text-align: center;
}

.expo-list button {
margin: 1em;
}

/* Expedition Details Page
==================================================== */

.detailsHeader {
  width: 100%;
  height: 175px;
  background-color: grey;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url('../img/expo-details-skateboard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.filter {
  text-align: center;
  background-color: #2a5e8c;
  color: white;
  height: 30px;
  line-height: 30px;
}

.filter li {
  display: inline;
  padding-left: 5px; 
  padding-right: 5px;
}

.pul {
  text-align: center;
}

.poiList .pul {
  border-bottom: 2px solid #2a5e8c;
  padding-bottom: 30px;
}

.pul img {
  width: 100%;
}

.descList {
  padding-top: 15px;
  padding-right: 5px; 
  padding-left: 5px;
  padding-bottom: 15px;
  color: #2a5e8c;
}

.descList li {
  display: inline;
}

/* ==========================================================================
   Helper classes from h5bp.com/u
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .hero h1 {
      font-size: 2.3em;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    nav {
      display: none;
    }

    .mobile-menu-trigger {
      display: inline-block;
      float: right;
      color: white;
      font-size: 2em;
      line-height: 70px;
    }

    .hero-form {
      margin: 4em auto;
    }

    .hero-input {
      width: 100%;
    }

    .hero-button {
      display: none;
    }

    .hero {
      height: 20em;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .hero h1 {
      font-size: 1.8em;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .hero h1 {
      font-size: 1.5em;
    }
  }


/* #Font-Face
================================================== */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?jzx8xy');
  src:url('../fonts/icomoon.eot?#iefixjzx8xy') format('embedded-opentype'),
    url('../fonts/icomoon.woff?jzx8xy') format('woff'),
    url('../fonts/icomoon.ttf?jzx8xy') format('truetype'),
    url('../fonts/icomoon.svg?jzx8xy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e600";
}
.icon-zoom:before {
  content: "\e601";
}
.icon-location-outline:before {
  content: "\e602";
}
.icon-map:before {
  content: "\e603";
}
.icon-globe-outline:before {
  content: "\e604";
}
.icon-directions:before {
  content: "\e605";
}
.icon-thumbs-up:before {
  content: "\e606";
}
.icon-binoculars:before {
  content: "\e607";
}
.icon-happy:before {
  content: "\e608";
}

.icon-th-menu:before {
  content: "\e609";
}

